<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="mybatis-generator.properties"/>
    <!-- データソースドライバ-->
    <classPathEntry  location="${mybatis.postgresql.jdbc.path}"/>
    <context id="HepinhuiTables" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- 自动识别数据库关键字，默认为 false，一般保留默认值，遇到数据库关键字（Java关键字）时，
            按照 table 元素中 columnOverride 属性的配置进行覆盖；
            如果设置为 true， 则需按照 SqlReservedWords 中定义的关键字列表，对关键字进行定界（分隔）；
            定界符（分隔符）参见 beginningDelimiter 和 endingDelimiter 的设置-->
        <property name="autoDelimitKeywords" value="false"/>

        <!-- beginningDelimiter 和 endingDelimiter，定界符（分隔符），
            指明用于标记数据库关键字的符号，默认为为双引号 (")；
            在 oracle 中是双引号 (")，在 MySQL 中需配置为反引号 (`)  -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!-- 生成的 Java 文件的编码   -->
        <property name="JavaFileEncoding" value="UTF-8"/>
        <!-- 格式化 Java 代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化 XML 代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <commentGenerator>
            <!--  不生成所有注释，默认为 false  -->
            <property name="suppressAllComments" value="true"/>
            <!--  生成的注释中不包含时间信息，默认为 false -->
            <property name="suppressDate" value="true"/>
            <!--  生成的注释中，时间的显示格式 -->
            <property name="dateFormat" value="yyyy/MM/dd"/>
            <!-- 是否添加数据库表中字段的注释，默认为 false  -->
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>
        <!--DataBase URL、User、Password -->
        <jdbcConnection
        	driverClass="${spring.datasource.driver-class-name}"
        	connectionURL="${spring.datasource.url}"
        	userId="${spring.datasource.username}"
        	password="${spring.datasource.password}">
        </jdbcConnection>
        <javaTypeResolver>
            <!-- 是否强制使用 BigDecimal；
			    默认为 false，把 JDBC 的 DECIMAL 和 NUMERIC 类型解析为 Integer；
			    设置为 true 时，把 JDBC 的 DECIMAL 和 NUMERIC 类型解析为 java.math.BigDecimal
 		    -->
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>
        <!-- モジュールファイル場所 -->
        <javaModelGenerator 
            targetPackage="${mybatis.javaModelGenerator.targetpackage}" 
            targetProject="${mybatis.javaModelGenerator.targetProject}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- マッピングファイル場所 -->
        <sqlMapGenerator 
            targetPackage="${mybatis.sqlMapGenerator.targetpackage}" 
            targetProject="${mybatis.sqlMapGenerator.targetProject}">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- DAOファイル場所 -->
        <javaClientGenerator type="XMLMAPPER" 
            targetPackage="${mybatis.javaClientGenerator.targetpackage}" 
            targetProject="${mybatis.javaClientGenerator.targetProject}">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!-- テーブル名-->
        <table
        	tableName="%"
        	schema="${spring.datasource.schema}"
        	enableCountByExample="false"
        	enableUpdateByExample="false"
        	enableDeleteByExample="false"
        	enableSelectByExample="false"
        	selectByExampleQueryId="false">
        </table>
    </context>
</generatorConfiguration>   